<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Univali</title>
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Controle de Estoque</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Produtos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Movimentação Estoque</a>
            </li>
            <li class="nav-item">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="/auth/sair" class="btn btn-link  my-2 my-sm-0">Sair</a>
        </form>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Controle de Estoque</h1>

        {{#produtos}}
        {{nome_produto}} <br/>
        {{/produtos}}

    </div>

</main>

<script src="/plugins/jquery/dist/jquery.js"></script>
<script src="/plugins/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>