<h1>Relação de clientes</h1>

<table border="1">
    <tr>
        <th>Nome</th>
    </tr>
    {% for cliente in clientes %}
        <tr>
            <td>{{cliente}}</td>
        </tr>
    {% else %}
        <tr><td>Nenhum cliente cadastrado</td></tr>
    {% endfor %}
