<h1>{{titulo}}</h1>
<h3>Entrar</h3>
<form method="POST" action="/auth">
    <input type="text" name="login">
    <input type="password" name="senha">
    <button type="submit">Entrar</button>
</form>

