<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Univali</title>
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body class="text-center">

<form method="POST" action="/auth" class="form-signin">
    <img class="mb-4" src="/imgs/univali.png">
    <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
    <label class="sr-only">Login</label>
    <input type="text" name="login" class="form-control" placeholder="Seu usuário" required autofocus>
    <label class="sr-only">Senha</label>
    <input type="password" name="senha" class="form-control" placeholder="Senha" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>

<script src="/plugins/jquery/dist/jquery.js"></script>
<script src="/plugins/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>